/* index */
body {
  font-family: 'Roboto', 'Arial', sans-serif, 'Relaway';
}
ul {
  list-style-type: none;
}
.container-cont {
  max-width: 1200px;
  margin: 0 auto;
}

.cont {
  position: center;
  width: 1600px;

  height: 80px;
  left: 215px;
  top: 0px;
}
.container-encabezado {
  max-width: 1600px;
  margin: 0 auto;
}
.encabezado {
  height: 600px;
  margin: 0 auto;
  background-color: #2f303a;
  text-transform: uppercase;
  text-align: center;
}
.encabezado-s {
  width: 600px;
  margin: 0 auto;
  height: 60px;
  padding: 160px 32px;
  
  color: #ffffff;
  font-size: 44px;
  line-height: 60px;
}
.service:focus,
.service {
  flex-direction: row;
  width: 261px;
  height: 50px;
  align-items: center;
  justify-content: center;
  padding: 10px 32px;
  
  background-color: #2196f3;
  color: #ffffff;
  font-family: 'Roboto', 'Arial';
  cursor: pointer;
}
.site-w {
  position: absolute;
  width: 145px;
  height: 31px;

  color: #2196f3;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  left: 570px;
}
.informacion ul {
  display: flex;
  justify-content: space-between;
}
.sub {
  color: #212121;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
}
.parf {
  color: #757575;
  font-size: 14px;
  line-height: 24px;
}
.sub-2 {
  color: #757575;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.parf-2 {
  color: #757575;
  font-size: 14px;
  line-height: 24px;
}
.sub-3 {
  color: #212121;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
}
.parf-3 {
  color: #757575;
  font-size: 14px;
  line-height: 24px;
}
.sub-4 {
  color: #212121;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
}
.parf-4 {
  color: #757575;
  font-size: 14px;
  line-height: 24px;
}
.tips {
  color: #212121;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.work ul {
  display: flex;
  justify-content: space-between;
}
.container-work {
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  color: #2196f3;
  font-family: 'Relaway', 'Arial', sans-serif;
}
.site-studio {
  position: absolute;
  width: 49px;
  height: 16px;
  left: 800px;
  top: 32px;

  color: #2196f3;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.site-ptf {
  position: absolute;
  width: 65px;
  height: 16px;
  left: 900px;
  top: 32px;

  color: #212121;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.site-contac {
  position: absolute;
  width: 67px;
  height: 16px;
  left: 1000px;
  top: 32px;

  color: #212121;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.contac-u {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contac-i {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1400px;
  top: 32px;

  color: #2196f3;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contac:hover,
.contac {
  position: absolute;
  width: 118px;
  height: 16px;
  left: 1600px;
  top: 32px;

  color: #757575;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.container-informacion {
  max-width: 1200px;
  margin: 0 auto;
}
.tips-2 {
  color: #212121;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.equipment ul {
  display: flex;
  justify-content: space-between;
}
.container-equipment {
  max-width: 1200px;
  margin: 0 auto;
}
/* pie de pagina bg */
.container-adress {
  max-width: 1600px;
  margin: 0 auto;
}
.adress {
  width: 1600px;
  height: 252px;
  background-color: #2f303a;
  
}
.adress ul {
  position: absolute;
  width: 231px;
  height: 21px;
  left: 525px;
  
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.contac-l {
  color: #757575;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.contac-j {
  color: #757575;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.site-foot {
  color: #2196f3;
  width: 145px;
  height: 31px;
  left: 215px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
/* Portafolio */
.container-p {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
}
header {
  width: 1600px;

  /* border: 1px solid #ececec; */
  height: 80px;
  top: 80px;
}
.site-wi {
  position: absolute;
  width: 145px;
  height: 31px;

  color: #2196f3;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  left: 300px;
}
.site-studios {
  position: absolute;
  width: 49px;
  height: 16px;
  left: 800px;
  top: 32px;

  color: #212121;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.site-ptfo {
  position: absolute;
  width: 65px;
  height: 16px;
  left: 900px;
  top: 32px;

  color: #2196f3;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.description {
  color: #212121;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  text-transform: capitalize;
}
.text {
  color: #757575;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}
.utilidades {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.seccion-buton-t:focus,
.seccion-buton-t {
  background-color: #2196f3;
  color: #ffffff;
  border-color: #2196f3;
  cursor: pointer;
  text-align: center;
  width: 50px;
  height: 50px;

  flex-direction: row;
  align-items: center;
}
.seccion-buton {
  font-style: normal;
  text-align: center;
  cursor: pointer;
  height: 50px;
  width: 105px;
}
.servicios-container {
  max-width: 1200px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}
.cart-set {
  display: flex;
  /* Make a flex container multiline */
  flex-wrap: wrap;
  /* Set gap between rows and columns */
  gap: 5px;
  justify-content: space-evenly;
  padding: 0;
  position: auto;
  list-style: none;
}
.item {
  flex-basis: calc((100% - 20px) / 9);

  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 1px 3px 0px rgba(0, 0, 0, 0.18);
}
.item img {
  margin-top: 0;
  font-size: 20px;
}
.item h3 {
  margin: 0;
}
