/* index */
body {
  font-family: 'Roboto', 'Arial';
}
ul {
  list-style-type: none;
}
.title {
  background-color: #2f303a;
  text-transform: uppercase;
  text-align: center;
}
.site-w {
  color: #2196f3;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  cursor: pointer;
}
.sub {
  color: #212121;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
}
.parf {
  color: #757575;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.sub-2 {
  color: #757575;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.tips {
  color: #212121;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: left;
  letter-spacing: 0.03em;
}
.header {
  color: #2196f3;
  font-family: 'Raleway', 'Arial';
}
.site-studio {
  color: #2196f3;
  font-family: 'Roboto', 'Arial';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-ptf {
  color: #212121;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-contac {
  color: #212121;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contac {
  color: #757575;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.service:focus,
.service:hover {
  background-color: #2196f3;
  color: #ffffff;
  font-family: 'Roboto', 'Arial';
  border-color: #2196f3;
}
.bisnes {
  color: #ffffff;
  font-family: 'roboto', 'Arial';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
}
.tips-2 {
  color: #212121;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: left;
  letter-spacing: 0.03em;
}
.eqp-1 {
  color: #757575;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  letter-spacing: 0.03em;
}
.eqp-2 {
  color: #757575;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  letter-spacing: 0.03em;
}
.eqp-3 {
  color: #757575;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  letter-spacing: 0.03em;
}
.eqp-4 {
  color: #757575;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  letter-spacing: 0.03em;
}
/* pie de pagina bg */
.adress {
  background-color: #2f303a;
}
/* Portafolio */
.Studio {
  color: #212121;
  font-family: 'Roboto', 'Arial';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.briefcase {
  color: #2196f3;
  font-family: 'Roboto', 'Arial';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.description {
  color: #212121;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  text-transform: capitalize;
}
.text {
  color: #757575;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}
.seccion-buton-t:focus,
.seccion-buton-t:hover {
  background-color: #2196f3;
  color:#ffffff;
  font-family: 'Roboto', 'Arial';
  border-color: #2196f3;
}
.seccion-buton {
  color: #212121;
  font-family: 'Roboto';
  font-style: normal;
  text-align: center;
}